* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f5f5f5;
    scroll-behavior: smooth;
}

:root {
    --cor-neutra-0-: #0e0c0c;
    --cor-neutra-10-: #171717;
    --cor-neutra-30-: #a8a29e;
    --cor-neutra-40-: #f5f5f5;
    --azul01: #05B2DC;
    --azul02: #031A6B;
    --azul03: #033860;
    --azul04: #087CA7;
    --azul05: #004385;
    --azul06: #1172d1;
}

::-webkit-scrollbar {
    background-color: var(--cor-neutra-30-);
    width: 1.4vh;
}

::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border: #f5f5f5 solid 1.5px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-neutra-40-);
    transition: background 0.2s linear;

}

header {
    position: relative;
    background-image: url('images/image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.caixa {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 50vw;
    transform: translate(-50%, -50%);
    ;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: start;
    border-radius: 8px;
    font-size: 1.4rem;
    max-width: 80%;
    font-family: 'michroma';
}

img.logo {
    width: 250px;
    height: auto;
}

header ul {
    padding-left: 0px;
}

header {
    background-size: cover;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
}


/* RESPONSIVIDADE */

@media(max-width: 960px) {

    nav .link-pages,
    nav .register {
        display: none;
    }

    nav .toggle_btn {
        display: block;
    }

    .menu_dropdown {
        display: flex;
        align-items: center;
        align-content: center;
    }

    header {
        background-image: url('images/image_mobile.png');
        height: 70vh;
    }

    .caixa {
        width: 60vw;
        top: 65%;
        font-size: 1rem;
    }

}


@media (max-width: 769px) {
    header {
        height: 60vh;
    }

    .caixa {
        width: 70vw;
        top: 60%;
        font-size: 0.95rem;
    }
}

@media(max-width: 640px) {

    .menu_dropdown {
        left: 2rem;
        width: unset;
    }

    img.logo {
        width: 40vw;
        height: auto;
    }

    header {
        height: 55vh;
    }

    .caixa {
        width: 80vw;
        top: 55%;
        font-size: 0.9rem;
    }

}

@media (max-width: 540px) {
    header {
        height: 40vh;
    }

    .caixa {
        width: 85vw;
        top: 70%;
        font-size: 0.7rem;
        padding: 15px;
    }
}

@media(max-width: 390px) {
    header {
        height: 35vh;
    }

    .caixa {
        width: 90vw;
        top: 75%;
        font-size: 0.5rem;
        text-align: center;
    }

}


/* section 1 */

.titulo_section1 {
    margin-top: 20px;
    font-family: 'michroma';
    color: #0e0c0c;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo_section1 h2 {
    font-size: 2.2rem;

    font-family: "michroma";
    width: 100%;
}

.titulo_section1 h3 {
    margin-top: 1.9rem;
    margin-bottom: 30px;
    font-family: "michroma";
    font-size: 24px;
}

.card {
    display: flex;
    align-items: center;
    width: 280px;
    padding: 0 5px 0 5px;
    background-color: #05B2DC;
    transition: all 0.5s ease-in-out;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-family: "mina";
    text-align: center;
    font-size: 24px;
    flex-wrap: wrap;
    gap: 5px;
}

div.card-body {
    padding: 8px;
}

#diferenciais {
    width: 100%;
}

.card:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card_icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.seta {
    width: 24px;
    height: auto;
}

@media (max-width: 886px) {
    .card-text p {
        font-size: 15px;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
    }

    .card {
        width: 95%;
        font-size: 90%;
    }

    .seta {
        width: 20px;
    }

}

@media(max-width: 620px) {
    .titulo_section1 h2 {
        font-size: 1.6rem;
    }

    .titulo_section1 h3 {
        font-size: 1.4rem;
    }
}

@media (max-width: 576px) {
    .card-text {
        font-size: 12px;
    }

    .titulo_section1 h2 {
        font-size: 1.3rem;
    }

    .titulo_section1 h3 {
        font-size: 1.1rem;
    }
}

@media(max-width: 380px) {
    .titulo_section1 h2 {
        font-size: 1.1rem;
    }

    .titulo_section1 h3 {
        font-size: 0.9rem;
    }
}

.secao3 {
    margin: 0 20px 0 20px;
}

.gridContainer {

    padding: 10px 30px 0px 30px;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    grid-gap: 40px;
    grid-template-areas:
        "asEsq arDir"
        "arEsq asDir";
}

#asEsq {
    grid-area: asEsq;
}

#asDir {
    grid-area: asDir;
}

#arDir {
    grid-area: arDir;
}

#arEsq {
    grid-area: arEsq;
}

.container {
    padding: 0px 20px 0px 20px !important;
}

.container h3 {
    color: #000000;
}

.container p {
    color: #0e0c0c;
    text-align: justify;
    font-family: "mina";
    font-size: 30px;
}

p {
    margin: 0px !important;
}

.container h3 {
    font-family: "michroma";
    font-size: 1.7rem;

}

.container p {
    font-size: 1.5rem;
}

.secao3 h2 {
    font-family: "michroma";
    font-size: 2.2rem;
    width: 100%;

    text-align: center;
    padding-bottom: 10px;
    color: #0e0c0c;
}

@media screen and (max-width: 1292px) {
    .gridContainer {
        grid-template-areas:
            "asEsq"
            "arDir"
            "asDir"
            "arEsq";
    }
}

@media screen and (max-width: 688px) {
    .imgsec3 {
        height: 100%;
        width: 100%;
    }

    .secao3 h2 {
        font-size: 1.6rem;
    }

    .container h3 {
        font-size: 1.4rem;
    }
}

@media(max-width: 380px) {
    .secao3 h2 {
        font-size: 1.2rem;
    }

    .container h3 {
        font-size: 1rem;
    }

    .container p {
        font-size: 0.8rem;
    }

    .btn {
        height: 5rem;
        width: 15rem;
    }

    .btn p {
        font-size: 1.5rem;
    }

}

.video1 {
    width: 686px;
    height: 357px;
    text-align: center;
    padding: 15px;
    margin-left: 104px;
}

.video2 {
    width: 645.548px;
    height: 400.141px;
    margin-right: 10px;
}

.secao-texto {
    color: #000000;
    text-align: center;
    font-family: Michroma;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    width: 880px;

    padding-bottom: 100px;
    padding-top: 100px;
}

.secao2 {
    
    background-color: #f9f9f9;
    display: grid;
    grid-template-areas:
        ". video1 video1 "
        ". texto texto"
        ". video2 box1"
        ". video2 box2"
        ". video2 box3";


}


@media (max-width: 1200px) {
    .secao2 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (max-width: 992px) {
    .secao2 {
      grid-template-columns: repeat(1, 1fr);
    }
    .video1, .video2 {
      width: 100%;
      height: 300px; /* adjust the height for smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .secao2 {
      grid-template-columns: repeat(1, 1fr);
    }
    .video1, .video2 {
      width: 100%;
      height: 200px; /* adjust the height for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .secao2 {
      grid-template-columns: repeat(1, 1fr);
    }
    .video1, .video2 {
      width: 100%;
      height: 150px; /* adjust the height for smaller screens */
    }
  }

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 645.548px;
    height: 416.141px;
    margin-right: 20px;

}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 350px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

#box1 {
    grid-area: box1;
    height: 100px;
    background-color: #031A6B;
    color: white;
}

#box2 {
    grid-area: box2;
    background-color: #0848A7;
    color: white;
}

#box3 {
    grid-area: box3;
    background-color: #087CA7;
    color: white;
}

.video2 {
    grid-area: video2;
}

.video1 {
    grid-area: video1;
}

.secao-texto {
    grid-area: texto;
}

div .box p {
    font-family: Mina;
}