* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f5f5f5;
    scroll-behavior: smooth;
}

:root{
    --cor-neutra-0-: #0e0c0c;
    --cor-neutra-10-: #171717;
    --cor-neutra-30-: #a8a29e;
    --cor-neutra-40-: #f5f5f5;
    --azul01: #05B2DC;
    --azul02: #031A6B;
    --azul03: #033860;
    --azul04: #087CA7;
    --azul05: #004385;
    --azul06: #1172d1;
}

::-webkit-scrollbar{
    background-color: var(--cor-neutra-30-);
    width: 1.4vh;
}

::-webkit-scrollbar-thumb{
    background-color: #f5f5f5;
    border: #f5f5f5 solid 1.5px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-neutra-40-);
    transition: background 0.2s linear;
    
}

header{
    background-image: url('images/image_pc.png'); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size:contain;
    height: 80vh;
    width: 100%;
}

img.logo{
    width: 250px;
    height: auto;
}

header ul {
    padding-left: 0px;
}

header {
    background-size: cover;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
}


/* RESPONSIVIDADE */
@media(max-width: 960px) {

    nav .link-pages,
    nav .register {
        display: none;
    }

    nav .toggle_btn {
        display: block;
    }

    .menu_dropdown {
        display: flex;
        align-items: center;
        align-content: center;
    }

    header{
        height: 80vh;
        
    }
}


@media (max-width: 850px) {
    header{
        height: 60vh; 
        
    }

}

@media (max-width: 730px) {
    header{
        background-image: url('images/image.png');
         
    }
}

@media(max-width: 576px) {
    header {
        height: 45vh; 
    }
    .menu_dropdown {
        left: 2rem;
        width: unset;
    }

    img.logo{
        width: 40vw;
        height: auto;
    }

}


@media(max-width: 375px) {
    header {
        height: 40vh;
    }
}


.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 40px;
    grid-template-areas:
        "asEsq arDir"
        "arEsq asDir";
}

#asEsq {
    grid-area: asEsq;
}

#asDir{
    grid-area: asDir;
}

#arDir{
    grid-area: arDir;
}

#arEsq{
    grid-area: arEsq;
}

/* section 1 */

.titulo_section1{
    margin-top: 20px;
    font-family: 'michroma';
    color: #0e0c0c;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo_section1 h2{
    font-size: 32px;
    font-weight: bold;
    font-family: "michroma";
    width: 100%;
}

.titulo_section1 h3{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "michroma";
    font-size: 24px;
}

.card{
    display: flex;
    align-items: center;
    width: 280px;
    padding: 0 5px 0 5px;
    background-color: #05B2DC;
    transition: all 0.5s ease-in-out;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-family: "mina";
    text-align: center;
    font-size: 24px;
    flex-wrap: wrap; 
    gap: 5px;
}

div.card-body{
    padding: 8px;
}

#diferenciais{
    width: 100%;
}

.card:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card_icon{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.seta {
    width: 24px;
    height: auto;
}
/* atenção ao width dos cards */
@media (max-width: 886px) { 
    .card-text p{
        font-size: 15px;
    }

    .cards{
        grid-template-columns: repeat(3, 1fr); 
        gap: 6px;
    }

    .card {
        width: 95%; 
        font-size: 90%; 
    }

    .seta {
        width: 20px;
    }

}

@media(max-width: 620px) {
    .titulo_section1 h2{
        font-size: 28px;
    }

    .titulo_section1 h3{
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .card-text {
        font-size: 12px;
    }
}
@media(max-width: 380px) {
    .titulo_section1 h2{
        font-size: 28px;
    }

    .titulo_section1 h3{
        font-size: 20px;
    }
}