.footer {

    width: 100%;
    bottom: 0;
    font-family: "michroma";
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 50px 0px 0px 0px;
}

.linha {
    padding: 0px 25px 0px 25px;
}


.footer-content {
    border-top: solid 2px #b1b1b1;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    margin: auto;
    
}

.footer-logo {
    display: flex;   
}

.footer-logo img {
    height: 80px; 
    
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.footer-links a {
    text-decoration: none;
    color: #454545;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: none;
}

.p-menu {
    margin: 0;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center; 
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-social-media a {
    color: #6e6e6e;
    font-size: 23px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-social-media a:hover {
    color: #272727;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #171717;
    font-size: 0.9rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.footer-link-page:hover {
    font-weight: bold;
}


@media screen and (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        margin-bottom: 20px; 
    }

    .footer-logo {
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .footer-social-media {
        margin-top: 20px; 
    }

    .footer-links,
    .footer-logo,
    .footer-social-media {
        text-align: center; 
    }

    .footer-links a {
        font-size: 14px; 
    }

    .footer-logo img {
        height: 100px; 
    } 

    .footer-social-media a {
        font-size: 30px;
    }
}